#title {
  text-align: center;
}

#color-palette {
  display: flex;
  justify-content: center;
}

.color {
  border: 1px solid black;
  width: 35px;
  height: 35px;
}

#clear-board {
  margin: 0.5em 0;
}

#pixel-board {
  margin: 0 41%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
}
